/* Container for the entire action items section */
.action-items-container {
  padding: 20px;
  background-color: #8ecae6; /* Light Blue */
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color); /* Yellow Border */
  max-width: auto;
  margin: 0 auto;
}

/* Heading for the action items section */
h2 {
  font-size: var(--header-font-size);
  color: var(--primary-color); /* Dark Blue */
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: start;
}

/* Container for each action item section */
.action-section {
  margin-bottom: 20px;
}

/* Subheading for each action item section */
.action-section h3 {
  font-size: var(--body-font-size);
  color: var(--primary-color);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* List of action items */
.action-items-list {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* Styling for each action item in the list */
.action-items-list li {
  margin-bottom: 10px;
  background-color: var(--background-color); /* Light Blue */
  padding: 8px;
  border-radius: var(--border-radius);
  border: 1px solid var(--accent-color); /* Yellow Border */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Container for inputs within each action item */
.input-container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

/* Input field for editing action items */
.edit-input {
  flex-grow: 1;
  padding: 8px;
  border-radius: var(--border-radius);
  border: 1px solid var(--accent-color);
  font-size: var(--body-font-size);
  color: var(--primary-color); /* Dark Blue */
  background-color: #ffffff; /* White Background */
}

/* Button for removing an action item */
.remove-item-button {
  background-color: var(--primary-color); /* Dark Blue */
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  margin-top: 0;
  transition: background-color 0.3s ease;
}

/* Hover state for the remove button */
.remove-item-button:hover {
  background-color: var(--secondary-color); /* Light Blue */
}

/* Button for adding a new action item */
.add-item-button {
  background-color: var(--background-color); /* Light Blue Background */
  color: var(--text-color); /* Orange Text */
  border: 2px dashed var(--accent-color); /* Yellow Border */
  padding: 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--body-font-size);
  width: 100%;
  display: block;
  margin-top: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

/* Hover state for the add button */
.add-item-button:hover {
  background-color: var(--accent-color); /* Yellow Background */
  color: #ffffff; /* White Text */
}
